<div class="card-details">
    <!--<h1 class="text-center">♢ JEDI Cards ♢</h1>-->
    <h4 class="text-center" *ngIf="this.myCard.editable && !myCard.id">crea una nueva carta</h4>
    <h4 class="text-center" *ngIf="this.myCard.editable && myCard.id">edita la carta</h4>
    <h4 class="text-center" *ngIf="!this.myCard.editable"> Sorry but this card is not editable, it's not yours</h4>
<form 
  #cardForm="ngForm"
  [class.disabled]="isLoading || !this.myCard.editable"
  (keyup.enter)="isFormSendable( cardForm.valid) && onSend()"
  >
  <div class="form-section">
    <label for="suit" >suit</label>
    <input name="suit" type="text" [(ngModel)]="myCard.suit" />
  </div>
  <div class="form-section">
    <label for="value" >value</label>
    <!--<input name="value" type="text" [(ngModel)]="myCard.value" />-->
    <select name="value" [(ngModel)]="myCard.value">
      <option *ngFor="let val of [ '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']" [value]="val">{{val}}</option>
    </select>
  </div>
  <div class="form-section">
    <label for="deck_id" >deck to which the card belongs</label>
    <!--<input name="value" type="text" [(ngModel)]="myCard.value" />-->
    <select name="deck_id" [(ngModel)]="myCard.deck_id">
      <option *ngFor="let deck of lstDecks" [value]="deck.id">{{deck.title}} ( {{deck.id}})</option>
    </select>
  </div>
  <div class="form-section">
    <label for="image" >image</label>
    <input name="image" type="url" [(ngModel)]="myCard.image" />
    <img [src]="myCard.image">
  </div>
  <br>
  <a 
    class="btn btn-ok" 
    (click)="onSend()" 
    [class.disabled]="!isFormSendable( cardForm.valid) || isLoading"
    >{{ myCard.id ? 'Update' : 'Create'}}</a>
</form>
</div>
