<div class="login">
  	<h1 class="text-center">♢ JEDI Cards ♢</h1>
		<h4 class="text-center">Regístrate a la aplicación</h4>
  <!-- falta afegir que el <enter> envies tb el form -->
  <form
    #signInForm="ngForm"
  >
  <!-- si fiquem username, email, password google chrome automaticament ho detecta i pot guardar el passwd per futures sessions -->
    <div class="form-section">
      <label>name</label>
      <input 
        required
        minlength=5
        name="name" 
        type="text" 
        [(ngModel)]="user.name" 
        #name="ngModel"
        />
        <small *ngIf="name.invalid && name.dirty">Camp obligatori</small>
    </div>
    <div class="form-section">
      <label>last name</label>
      <input 
      required
      minlength=5
        name="last-name" 
        type="text" 
        [(ngModel)]="user.last_name" 
        #lastname="ngModel"
        />
        <small *ngIf="lastname.invalid && lastname.dirty">Camp obligatori</small>
    </div>
    <div class="form-section">
      <label>e-mail</label>
      <input 
        required
        minlength=5
        name="email" 
        type="email" 
        [(ngModel)]="user.email" 
        #email="ngModel"
        />
        <small *ngIf="email.invalid && email.dirty">Camp obligatori</small>
    </div>
    <div class="form-section">
      <label>password</label>
      <input 
      required
      minlength=6
        name="password" 
        type="password" 
        [(ngModel)]="user.password" 
        #pass="ngModel"
        />
        <small *ngIf="pass.invalid && pass.dirty">Camp obligatori</small>
    </div>
    <div class="form-section">
      <label>re-type password</label>
      <input 
      required
      minlength=6
        name="password2" 
        type="password" 
        [(ngModel)]="repeatedPassword" 
        #pass2="ngModel"
        />
        <small *ngIf="pass2.invalid && pass2.dirty">Camp obligatori</small>
        <small *ngIf="pass2.dirty && ( repeatedPassword !== user.password)"><br>password does not match</small>
        <small *ngIf="pass2.dirty && !arePasswordsEqual()">, no iguales</small>
    </div>
    <div class="form-section">
      <a 
        class="btn btn-ok" 
        (click)="onSend()"
        [class.disabled]="!signInForm.valid || !arePasswordsEqual()"
        >hola</a> <!-- abans signInForm.fomr.valid. angular va canviant, s'ha de checkejar... -->
    </div>

  </form>
</div>