<div class="row">
    <form>
      <div class="col-xs-12 text-center">
    <label >name</label>
    <input name="name" type="text" [(ngModel)]="user.name"/>
  </div>
  <div class="col-xs-12 text-center">
      <label >last name</label>
      <input name="last-name" type="text" [(ngModel)]="user.last_name"/>
    </div>
    <div class="col-xs-12 text-center">
        <label>e-mail</label>
        <input name="email" type="text" [(ngModel)]="user.email"/>
      </div>
  <div class="col-xs-12 text-center">
    <label >password</label>
    <input  name="password" type="password" [(ngModel)]="user.password"/>
  </div>
  <div class="col-xs-12 text-center">
    <label >re-type password</label>
    <input  name="password" type="password" [(ngModel)]="user.password2"/>
  </div>
  <div class="col-xs-12 text-center">
    <button type="submit">Sign In</button>
    <a class="btn btn-ok" (click)="onSend()">hola</a>
  </div>
  
</form>
</div>
