<div class="decks">
    <h1 class="text-center">♢ JEDI Cards ♢</h1>
    <h4 class="text-center">Available decks</h4>
    <a 
      class="btn btn-ok" 
      (click)="onSend()" 
      [class.disabled]="isLoading"
      >{{ isLoading ? 'Cargando...' : 'Get decks'}}</a>
      <!--  [routerLink]="'/deck/' + deck.id"   === [ '/deck', deck.id] -->
      <div *ngFor="let deck of lstDecks" 
        class="row middle-xs"
        [routerLink]="[ '/deck', deck.id]"
        style="background-color: rgb(239, 240, 221)">
      <div 
        class="col-xs-8">
          <h2>{{ deck.title}}</h2>
          <h5>{{ deck.description}}</h5>
          <small>id = {{ deck.id}} | user_id = {{ deck.user_id}}</small>
      </div>
      <div class="col-xs-4 text-right">
        <i 
        (click)="onEditDeckCards( deck.id, $event)"
          class="material-icons deck-card"
          >apps</i> <!-- no need for onEdit(), just use a link -->
      <a 
        class="btn btn-delete" 
        (click)="onDelete( deck.id, $event)" 
        [class.disabled]="isLoading"
        >{{ isLoading ? 'Cargando...' : 'delete'}}</a>
      </div>
    </div>
    <div class="text-center">
      <i *ngIf="!lstDecks.length && !isLoading"> ¡Vaya! Todavia no tienes ningún mazo<br></i>
      <!-- to insert a link to another page: -->
      <!-- <a class="underline" [routerLink]="'/deck/create'">Crea un nuevo mazo</a> -->
      <!-- make it look as button: -->
      <a class="btn btn-ok" [routerLink]="'/deck/create'">Crea un nuevo mazo</a>
    </div>
    
  <app-popup
    #deletePopup
    [popupTitle]="'Atención'"
    [buttonNames] = "[ 'Borrar', 'Cancelar']"
    (accept) = "onAcceptDelete( $event)"
    > 
    <!-- dins de app-pop podem ficar class="" per personalitzar la vista del popup segons aquest component -->
    <!-- podemos pasar el código de la función OnDeleteDeck() como input pero queda sucio y nos dara problemas -->
    <!-- ademas el componente decks es el que borra decks, no el componente popup -->
    <!-- mejor que sea el popup que avise a decks -->
    Hello from decks!
    <!-- aqui dintre puc accedir als atributs de decks, no als de popup, encara que s'inserti allà -->
    <!-- podem fer servir <ng-template> per definir el scope que volem per avaluar el js -->
  </app-popup>

</div>