<div class="decks">
    <h1 class="text-center">♢ JEDI Cards ♢</h1>
    <h4 class="text-center">Available decks</h4>
    <a 
      class="btn btn-ok" 
      (click)="onSend()" 
      [class.disabled]="isLoading"
      >{{ isLoading ? 'Cargando...' : 'Get decks'}}</a>
    <ul>
      <!--  [routerLink]="'/deck/' + deck.id"   === [ '/deck', deck.id] -->
      <li *ngFor="let deck of lstDecks" 
        class="row middle-xs"
        [routerLink]="[ '/deck', deck.id]"
        style="background-color: rgb(229, 230, 173)">
      <div 
        class="col-xs-8">
          <h2>{{ deck.title}}</h2>
          <h5>{{ deck.description}}</h5>
          <small>id = {{ deck.id}} | user_id = {{ deck.user_id}}</small>
      </div>
      <div class="col-xs-4 text-right">
      <a 
        class="btn btn-delete" 
        (click)="onDelete( deck.id, $event)" 
        [class.disabled]="isLoading"
        >{{ isLoading ? 'Cargando...' : 'delete'}}</a>
      </div>
      </li>
    </ul>
    <div class="text-center">
      <i *ngIf="!lstDecks.length && !isLoading"> ¡Vaya! Todavia no tienes ningún mazo<br></i>
      <a class="underline" [routerLink]="'/deck/create'">Crea un nuevo mazo</a>
    </div>
</div>