<div class="row">
<div class="col-xs-12 text-center">
  <label for="e-mail" style="text-align: left">e-mail</label>
  <input name="email" type="text" [(ngModel)]="email"/>
</div>
<div class="col-xs-12 text-center">
  <p style="text-align: left">password</p>
  <!-- format 1
  <input 
    name="password" 
    type="password"
    [(ngModel)]="password"
    (ngModelChange)="onCheckPassword()" 
    />
    <small *ngIf="!isPasswordCorrect">El password ha de tenir mínim {{minPasswordLength}} lletres.</small>
-->
    <input 
      name="password" 
      type="password"
      [(ngModel)]="password"
      />
      <small *ngIf="!onCheckPassword2()">El password ha de tenir mínim {{minPasswordLength}} lletres.</small>
</div>
<div class="col-xs-12 text-center" style="background-color:lightblue">
  <a 
  class="btn btn-ok" 
  (click)="onSend()"
  [class.disabled]="!password || !email || !isPasswordCorrect" 
  >hola</a><!-- per deshabilitar el boto si hi pass o email son buits -->
</div>
</div>
      