<div class="cards">
    <h1 class="text-center">♢ JEDI Cards ♢</h1>
    <h4 class="text-center">Available cards</h4>
    <a 
      class="btn btn-ok" 
      (click)="onSend()" 
      [class.disabled]="isLoading"
    >{{ isLoading ? 'Cargando...' : 'Get cards'}}</a>
    <div *ngFor="let card of lstCards" 
      class="row middle-xs"
      [routerLink]="[ '/card', card.id]"
      style="background-color: rgb(229, 230, 173)">
      <div 
        class="col-xs-8">
          <h2>{{ card.suit}} - {{ card.value}}</h2>
          <!--
          <small class="debug">ID: {{ card.id}} belongs to Deck ID: {{ card.deck_id}} and User ID: {{ card.deck?.user_id}}</small>
          <br>
          <small *ngIf="card.editable"> CARD IS EDITABLE </small>
          -->
          <img 
            *ngIf="card.image !== '' && card.image !== null" 
            [src]="card.image">
          <!--
            <small class="debug">image = {{card.image === null ? '(null)' : card.image}}</small>
          -->
      </div>
      <div class="col-xs-2 text-right">
      <i *ngIf="card.editable"
        class="material-icons operation-card"
        [routerLink]="[ '/card', card.id]"
        >edit</i> <!-- no need for onEdit(), just use a link -->
      </div>
      <div class="col-xs-2 text-right">
      <i 
        class="material-icons operation-card"
        (click)="onDelete( card, $event)"
        >delete</i>
      </div>
    </div>
    <div class="text-center">
      <i *ngIf="!lstCards.length && !isLoading"> ¡Vaya! Todavia no tienes ninguna carta<br></i>
      <a class="btn btn-ok" [routerLink]="'/card/create'">Crea una nueva carta</a>
    </div>
    
  <app-popup
    #deletePopup
    [popupTitle]="'Atención'"
    [buttonNames] = "[ 'Borrar', 'Cancelar']"
    (accept) = "onAcceptDeleteCard( $event)"
  >
  <p *ngIf="_cardToDelete !== undefined" class="text-center">
    Are you sure you want to delete:<br>
    {{ _cardToDelete.value}} of {{ _cardToDelete.suit }} ( id: {{ _cardToDelete.id}})
  </p>
  </app-popup>
</div>
