<div class="popup" *ngIf="isOpen">
  <h3 class="popup-title" *ngIf="popupTitle">{{ popupTitle}}</h3>
  <div class="popup-body">
    <ng-content></ng-content>
  </div>
  <div class="popup-buttons row end-xs">
    
      <!-- <a *ngFor="let bb of buttonNames; let i = index; let s of buttonStyles"
          class="btn btn-ok col-xs-4 " 
          >{{ bb}} {{ i}} {{ s}}</a> -->
          <!-- <a *ngFor="let bb of lstButtons; let i = index; "
              class="btn btn-ok col-xs-4 " 
              >{{ bb.name}} {{ i}} {{ bb.style}}</a> -->
    <a 
    class="btn btn-ok col-xs-3"
    (click)="onAccept()"
    > {{ buttonNames[ 0]}}</a>
    <a 
    class="btn btn-cancel col-xs-3"
    (click)="closePopup()"
    > {{ buttonNames[ 1]}}</a>
  </div>
</div>
<div class="popup-backdrop" *ngIf="isOpen">
</div>
<!-- si ponemod el div padre con el ngIf, podemos estropear el estilo -->
<!-- hay otra opcion en angular, .... -->
