<div class="row nav-bar" *ngIf="isShown">
  <div class="col-xs-6">
    <p class="btn-nav-bar">Hello user {{ userName}}</p>
  </div>
  <div class="col-xs-2 text-right">
      <a 
        class="btn btn-ok btn-nav-bar"
        (click)="onRedirectToDecks()"
        >Decks</a>
  </div>
  <div class="col-xs-2 text-right">
      <a 
        class="btn btn-ok btn-nav-bar"
        (click)="onRedirectToCards()"
        >Cards</a>
        <!-- for [routerLink]="'/cards'"  to work it needs that the module inports the RouterModule -->
  </div>
  <div class="col-xs-2 text-right">
      <a 
        class="btn btn-cancel btn-nav-bar"
        (click)="onLogout( $event)" 
        >Logout</a>
  </div>
</div>
<app-popup
#logoutPopup
[popupTitle]="'Atención'"
[buttonNames] = "[ 'Logout', 'Cancelar']"
(accept) = "onAcceptLogout( $event)"
> 
Are you sure you want to Logout ?
</app-popup>
